- _img_src = @logo_company
- _header_text = @company_name
- _email_title = I18n.t('mailer.reset_password_instructions.header_top')
- _email_body_html = "Hey " +@first_name + "!<br/><br/>" + I18n.t('devise.mailer.reset_password_instructions.request_reset_link_msg') + "<br/><br/>"+I18n.t('mailer.devise.password_change_instruction')+"<br/><br/>"

- _footer_plain = ""
- _footer_linked = ""
- _footer_link_to = ""

- _body_button_text = I18n.t('devise.mailer.reset_password_instructions.password_change_link')
- _body_button_color = @email_color_company
- _body_button_link = edit_password_url(@resource, reset_password_token: @token, config: @client_config, :protocol => "https").html_safe

= render "user_mailer/mail_template", locals: {img_src: _img_src,header_text: _header_text, email_title: _email_title, email_body_html: _email_body_html, body_button_text: _body_button_text, body_button_color: _body_button_color, body_button_link: _body_button_link, footer_plain: _footer_plain, footer_linked: _footer_linked, footer_link: _footer_link_to, initials: '', is_view_in_browser: true}
