%form{:action => "/admin/admin_users/sessions/update_password", :method => "post" , :onsubmit => "return validate_change_password_form()"}
  %fieldset.inputs
    %input#admin_user_email{:name => "admin_user[email]", :type => "hidden", :value => "#{@user.email}"}
    %li#admin_user_password_input.password.input.optional.stringish
      %label.label{:for => "admin_user_password"}
        Password
        %input#admin_user_password{:name => "admin_user[password]", :required => "required", :type => "password"}
    %li#admin_user_password_confirmation_input.password.input.optional.stringish
      %label.label{:for => "admin_user_password_confirmation"} Password confirmation
      %input#admin_user_password_confirmation{:name => "admin_user[password_confirmation]", :required => "required", :type => "password"}
    %input{:type => "submit",:value => "Update Password"}