<div class="form-group">
  <label for="from">From:</label>
  <div class='input-group date' data-provide="datepicker" >
    <%= date_field_tag :date_from, params[:date_from], class: "form-control"  %>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
<div class="form-group">
  <label for="to">To:</label>
  <div class='input-group date' data-provide="datepicker" >
    <%= date_field_tag :date_to, params[:date_to], class: "form-control"  %>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
