<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sapling Loggings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application'  %>
  <%= javascript_include_tag 'application'  %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Sapling</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/admin/loggings">Integration</a></li>
        <li><a href="/admin/webhook_logs">Webhook</a></li>
        <li><a href="/admin/sapling_api">Sapling API</a></li>
        <li><a href="/admin/papertrail_logs">Papertrail</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">General
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/ct_logs">Custom Table</a></li>
            <li><a href="/admin/pto_logs">PTO</a></li>
            <li><a href="/admin/email_logs">Email</a></li>
            <li><a href="/admin/overall_logs">Overall</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</body>
</html>
